<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>recipes</key>
    <array>
        <string>Firefox-pkg-upload.jamf.recipe.yaml</string>
        <string>GoogleChrome-pkg-upload.jamf.recipe.yaml</string>
        <string>Slack-pkg-upload.jamf.recipe.yaml</string>
    </array>
</dict>
</plist>